<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'TAG_CREATE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="full">
    <ion-item class="header">
      <ion-label class="col">
          <ion-button color="primary" expand="full" [disabled]="tag.name == ''" (click)="closeAndSaveSelections()">{{ 'BUTTON_SAVE' | translate }}</ion-button>
      </ion-label>
      <ion-label class="col">
        <ion-button color="primary" expand="full" (click)="closeModal()">{{ 'BUTTON_CANCEL' | translate }}</ion-button>
    </ion-label>
    </ion-item>
  </ion-list>

  <ion-chip class="ionChipPreview" outline="false">
    <ion-label>#{{tag.name}}</ion-label>
  </ion-chip>

  <ion-list lines="full">
    
    <ion-item lines="none">
      <ion-label position="stacked">{{ 'FIELD_NAME' | translate }}</ion-label>
      <ion-input type="text" placeholder="{{ 'FIELD_NAME_PLACEHOLDER' | translate }}" [(ngModel)]="tag.name"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{ 'FIELD_VIEWABLE' | translate }}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="tag.viewable"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>{{ 'FIELD_SEARCHABLE' | translate }}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="tag.searchable"></ion-checkbox>
    </ion-item>
  
  </ion-list>

</ion-content>