:host {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ion-title {
      padding-inline: 0px;
      img {
          padding-top:4px; 
      }
    }
    ion-toolbar {
        --background: var(--ion-toolbar-background, var(--ion-background-color, #000));
        --border-color: var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-150, #fff)));
        color:white;
    }
}