<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="/resources/icon.png" /></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="pageInput != null">
    <h1>{{ 'USER_LIST_TITLE' | translate }}</h1>

    <ion-list class="tableCommon">
      <ion-item class="tableHeader" lines="none">
        <ion-label class="col">{{'FIELD_OAUTH_USER_ID' | translate}}</ion-label>
        <ion-label class="col">{{'FIELD_EMAIL' | translate}}</ion-label>
        <ion-label class="col">{{'FIELD_FIRST_NAME' | translate}}</ion-label>
        <ion-label class="col">{{'FIELD_LAST_NAME' | translate}}</ion-label>
        <ion-label class="col">{{'FIELD_IDP' | translate}}</ion-label>
        <ion-label class="col-icon"></ion-label>
      </ion-item>

      <ion-accordion-group>
        <ion-accordion value="{{v.id}}" *ngFor="let v of dataResultList">
          <ion-item slot="header">
            <ion-item lines="none">
              <ion-avatar slot="start" *ngIf="v.picture != null">
                <img src="{{v.picture}}">
              </ion-avatar>
              <ion-label class="col">{{v.userId}}</ion-label>
            </ion-item>
            <ion-label class="col">{{v.email}}</ion-label>
            <ion-label class="col">{{v.firstName}}</ion-label>
            <ion-label class="col">{{v.lastName}}</ion-label>
            <ion-label class="col">{{v.idp}}</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item>
              <ion-text color="primary">{{'USER_INTERNAL_ID'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.id}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'FIELD_CREATED_DATE'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.createdDate | formatDateTime}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_LAST_SEEN'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.lastSeen | formatDateTime}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_ACTIVE'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.active}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_GENDER'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.gender}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_HOMETOWN'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.hometown}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_SPORTS'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.sports}}
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-text color="primary">{{'USER_PICTURE_URL'|translate}}: </ion-text>
              <ion-text class="valueOpt" color="dark">
                {{v.picture}}
              </ion-text>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
    </ion-list>
    <ion-list class="tableCommon">
      <ion-item class="tableFooter">
        <ion-label class="col">
            <ion-button disabled="{{pageInput.pageNumber<=1}}" (click)="previousPage()">{{ 'BUTTON_PREVIOUS' | translate }}</ion-button>&nbsp;
            <ion-button disabled="{{dataResultCount < (pageInput.pageNumber*pageInput.pageSize)}}" (click)="nextPage()">{{ 'BUTTON_NEXT' | translate }}</ion-button></ion-label>
        <ion-label class="col">{{ 'RESULTS_TOTAL' | translate }} {{dataResultCount | formatNumberPipe}}</ion-label>
        <ion-label class="col">{{ 'RESULTS_PAGE' | translate }} {{pageInput.pageNumber}}</ion-label>
        <ion-label class="col"></ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>