:host {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  h1 {
    padding-bottom: 21px;
  }
  ion-content {
    --padding-start: 6px;
  }
  .valueOpt {
    padding-left: 10px;
  }
  ion-title {
    padding-inline: 0px;
    img {
      padding-top: 4px;
    }
  }
}
