ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #000));
}
ion-header {
  --background: var(--ion-item-background, var(--ion-background-color, #000));
}
ion-split-pane {
  --side-max-width: 200px;
}

:host {
  --border: 0px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.13))));
  --side-min-width: 270px;
  --side-max-width: 28%;
  --ion-color-primary-rgb: rgb(159, 159, 159);
  color:white;
  .ion-activatable:hover {
    --color-hover: white;
    background-color:green;
    background: var(--background);
    
  }
 
}

.list-md {
  background:none;
}


ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 0;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  color:white;
}
 
ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 16px;
  font-weight: 60;
  min-height: 20px;
  padding-bottom:10px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #fff;
  min-height: 26px;
}


ion-menu {

  ion-item {
    --background: var(--ion-item-background, var(--ion-background-color, #000));
    color:white;
    --padding-start: 5px;
    --padding-end: 5px;
    

    ion-label {
      font-weight: 500;
    }

    ion-icon {
      color: white;
    }
  }

  ion-item.selected { 
    --background: slategray;
    ion-icon {
      color: white;
    }
  }
  ion-item.item:hover a {
    color: slategray;
  }

}




ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}


ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: white;
}