<app-header 
  [primaryButtonIcon]="'add-outline'" 
  [primaryButtonText]="'BUTTON_ADD_LOCATION'"
  (primaryButtonEvent)="createNewLocation($event)">
</app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"><img src="/resources/icon.png" /></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>{{ 'LOCATION_SEARCH_TITLE' | translate }}</h1>

    <ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" autocorrect="false" clearInput="true">{{ 'FIELD_SEARCH_TEXT' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="formObj.searchString" #input maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6"> 
          <ion-item>
            <ion-label position="stacked" autocorrect="false" clearInput="true">{{ 'FIELD_ID' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="formObj.id" #input maxlength="75"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" autocorrect="false" clearInput="true">{{ 'FIELD_CITY' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="formObj.city" #input maxlength="50"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6"> 
          <ion-item>
            <ion-label position="stacked">{{ 'FIELD_PROVINCE' | translate }}</ion-label>
            <ion-select [(ngModel)]="formObj.province" interface="popover">
              <ion-select-option value="AB">{{ 'PROV_AB' | translate }}</ion-select-option>
              <ion-select-option value="BC">{{ 'PROV_BC' | translate }}</ion-select-option>
              <ion-select-option value="MB">{{ 'PROV_MB' | translate }}</ion-select-option>
              <ion-select-option value="NB">{{ 'PROV_NB' | translate }}</ion-select-option>
              <ion-select-option value="NL">{{ 'PROV_NL' | translate }}</ion-select-option>
              <ion-select-option value="NT">{{ 'PROV_NT' | translate }}</ion-select-option>
              <ion-select-option value="NS">{{ 'PROV_NS' | translate }}</ion-select-option>
              <ion-select-option value="NU">{{ 'PROV_NU' | translate }}</ion-select-option>
              <ion-select-option value="ON">{{ 'PROV_ON' | translate }}</ion-select-option>
              <ion-select-option value="PE">{{ 'PROV_PE' | translate }}</ion-select-option>
              <ion-select-option value="QC">{{ 'PROV_QC' | translate }}</ion-select-option>
              <ion-select-option value="SK">{{ 'PROV_SK' | translate }}</ion-select-option>
              <ion-select-option value="YU">{{ 'PROV_YT' | translate }}</ion-select-option>
              <ion-select-option value="">{{ 'FIELD_ANY' | translate }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" autocorrect="false" clearInput="true">{{ 'FIELD_POSTAL' | translate }}</ion-label>
            <ion-input type="text" [(ngModel)]="formObj.postalCode" #input maxlength="7"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6"> 
          <ion-item>
            <ion-label position="stacked" autocorrect="false" clearInput="true">{{ 'FIELD_DISTANCE_FROM_CODE' | translate }}</ion-label>
            <ion-input type="number" [(ngModel)]="formObj.distance" #input maxlength="5"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <ion-item>
              <ion-label position="stacked">{{ 'FIELD_ACTIVE' | translate }}</ion-label>
              <ion-select [(ngModel)]="formObj.active" interface="popover">
                <ion-select-option value="true">{{ 'FIELD_ACTIVE' | translate }}</ion-select-option>
                <ion-select-option value="false">{{ 'FIELD_INACTIVE' | translate }}</ion-select-option>
                <ion-select-option value="">{{ 'FIELD_BOTH' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item>
              <ion-label position="stacked">{{ 'FIELD_HIDDEN' | translate }}</ion-label>
              <ion-select [(ngModel)]="formObj.hidden" interface="popover">
                <ion-select-option value="true">{{ 'FIELD_HIDDEN' | translate }}</ion-select-option>
                <ion-select-option value="false">{{ 'FIELD_VISIBLE' | translate }}</ion-select-option>
                <ion-select-option value="">{{ 'FIELD_BOTH' | translate }}</ion-select-option>
              </ion-select>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6"> 
          <ion-item>
            <ion-label position="stacked">{{ 'RESULTS_PER_PAGE' | translate }}</ion-label>
            <ion-select [(ngModel)]="formObj.pageSize" interface="popover">
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="50">50</ion-select-option>
              <ion-select-option value="100">100</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col size="6"> 
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="6">  
         
          <ion-button id="open-frommodal">{{ 'FIELD_FROM_DATE' | translate }}</ion-button>
          <ion-text class="dateTime">{{formObj.minUpdatedDate}}</ion-text>
          <ion-modal trigger="open-frommodal">
            <ng-template>
              <ion-content>
                <ion-datetime hour-cycle="h12" min="2021-12-01" 
                  presentation="date"
                  minuteValues="0,15,30,45" 
                  size="cover" 
                  [showClearButton]="true"
                  locale="en-US" [(ngModel)]="formObj.minUpdatedDate">
                  <div slot="title">{{ 'FIELD_FROM_DATE' | translate }}</div>
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
      
        </ion-col>
        <ion-col size="6"> 

          <ion-button id="open-tomodal">{{ 'FIELD_TO_DATE' | translate }}</ion-button>
          <ion-text class="dateTime">{{formObj.maxUpdatedDate}}</ion-text>
          <ion-modal trigger="open-tomodal">
            <ng-template>
              <ion-content>
                <ion-datetime hour-cycle="h12" min="2021-12-01" 
                  presentation="date"
                  minuteValues="0,15,30,45" 
                  size="cover" 
                  [showClearButton]="true"
                  locale="en-US" [(ngModel)]="formObj.maxUpdatedDate">
                  <div slot="title">{{ 'FIELD_TO_DATE' | translate }}</div>
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>

        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col> 
          <ion-button color="primary" type="button" (click)="goToSearchResultPage()">{{ 'BUTTON_SEARCH' | translate }}</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>
</ion-content>
